@import '../../services/media-queries.scss';

.searchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 1rem;


    &>h3 {
        text-align: center;
        color: white;
        text-shadow: 2px 2px 7px  rgba(6, 9, 153, 0.3);
    }
    @include respond(sm) {
        padding-block-end: 2rem;
    }
}
.searchForm {
    text-align: center;

    @include respond(sm) {
        margin-bottom:3rem;
    }
}


.label {
    display: block;
    margin-bottom: 0.6rem;
    color: white;
    font-size: 1.6rem;
    text-shadow: 2px 2px 7px  rgba(6, 9, 153, 0.6);
}

.input {
    border-radius: 7px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 2rem;
}

.submit {
    background-color: transparent;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin-right: 0.5rem;
}