.footer {
    text-align: center;
    color: whitesmoke;
    & a:link, & a:visited {
        font-weight: 400;
        color: whitesmoke;
        text-decoration: none;
    }
    & a:hover {
        color: aqua;
    }
}